{% extends 'AppCoder/padre.html' %}

{% block titulo %}
Especialidades
{% endblock %}


{%block contenido %}
      <section class="features-icons bg-light">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                        {% if especialidades.errors %}
                        <p style="color: red;"> Los datos son incorrectos. Por favor reviselos </p>
                        {% endif %}

                       <form action="{% url 'especialidades' %}" method="POST">
                            {% csrf_token %}

                            <table>
                                {{especialidades.as_table}}
                                <h6>Ingrese el nombre de la especialidad medica y el grupo etario correspondiente: 1 (ninos) 2 (adolecentes) 3 (adultos) 4 (adultos mayores) </h6> 
                            </table>

                            <input type="submit" value="Enviar">
                        </form>
                  </div>
              </div>
          </div>
      </section>
{% endblock %}