{% extends 'AppCoder/padre.html' %}

{% block titulo %}
Pacientes
{% endblock %}


{%block contenido %}
      <section class="features-icons bg-light">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                    {% if pacientes.errors %}
                    <p style="color: red;"> Los datos son incorrectos. Por favor reviselos </p>
                    {% endif %}

                   <form action="{% url 'pacientes' %}" method="POST">
                        {% csrf_token %}

                        <table>
                            {{pacientes.as_table}}
                        </table>

                        <input type="submit" value="Enviar">
                    </form>
              </div>
          </div>
      </section>
{% endblock %}